.observations-actions {
    margin-top: 20px;
}

.timeline-label {
    font-family: sans-serif;
    font-size: 12px;
}

#timeline2 .axis {
    transform: translate(0, 30px);
    -ms-transform: translate(0, 30px); /* IE 9 */
    -webkit-transform: translate(0, 30px); /* Safari and Chrome */
    -o-transform: translate(0, 30px); /* Opera */
    -moz-transform: translate(0, 30px); /* Firefox */
}

.unselected-obs {
    fill-opacity: 0.2;
    stroke-opacity: 0;
}

svg .timeline-label{
    cursor: pointer;
}

.playback-time {
    margin-right: 20px;
    padding: 0.3em;
    font-size: 1em;
    vertical-align: bottom;
    display: inline-block;
}

#loading {
    display: none;
}

#json-renderer {
    padding-left: 18px;
    padding-top: 3px;
    padding-bottom: 5px;
}

.timezone {
    margin: -5px 0 15px 2px;
}

#UTCModal {

    .panel-default {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .panel-body {
        font-weight: bold;
        font-size: 1.3em;
    }
}

#collapseFilters {
    padding: 15px;

    h4,
    h3 {
        display: inline-block;
    }

    label.btn-unknown {
        font-weight: 900;
    }

    button.active {
        border: 1px solid #333;

        &:not(.active) {
            color: #666;
        }
    }
}

.coloredDiv {
    height: 56px;
    width: 20px;
    float: left;
    margin-right: 5px;
}

.green_circle {
    width:7px;
    height:0;
    line-height:0;
    padding:3.5px;
    border: solid 1px black;
    border-radius:7px;
    background:#90ee90;
    display:inline-block;
}

.red_circle {
    width:7px;
    height:0;
    line-height:0;
    padding:3.5px;
    border: solid 1px black;
    border-radius:7px;
    background:#ff0000;
    display:inline-block;
}
